html {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 100%;
  margin: 0;
}

video {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  object-fit: cover;
  object-position: center top;
  opacity: 0.2;
  pointer-events: none;

  transition: 0.2s;
}

button {
  padding: 0;

  font-size: calc(80px + (120 - 80) * ((100vw - 300px) / (1600 - 300)));
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  background: none;
  outline: none;
  border: none;
  transition: 0.2s;
}

button:active {
  transform: scale(0.95);
}
